.navbar{
    background-color: rgb(18, 97, 214);
    width: 634px;
    height: 80px;
    margin-top: -7px;
    display: flex;
    width: 741px;
    margin-left: -7px;
    
}
    .nav-text{
        font-family: sans-serif;
        margin-top: 10px;
        font-size: 14px;
        margin-left: 15px;
        color: white;
    }
  
    .section{
    display: flex;
    justify-content: space-between;
    }
    input:hover {
        border: 2px solid black;
        font-weight: bold;
        }
        
       
        
      
        
        
        
    
    
    
    